.iwebsite_ajax_filter_active_attr_bar a:hover:after{

    background: #333;
    color: #FFF;
}
.iwebsite_ajax_filter_active_attr_bar a:after{
    margin-left: 0;
    margin-right: 5px;
    font-family: 'Pe-icon-7-stroke';
    content: "\e681";
    position: relative;
    top: 3px;
    display: inline-block;
    margin-left: 5px;
    font-size: 135%;
    line-height: 1;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    transition: all 350ms ease;
}
.iwebsite_ajax_filter_active_attr_bar a{
    cursor: pointer;
    display: inline-block;
}

.iwebsite_ajax_filter_active_attr_bar{
    position: absolute;
    bottom: 25px;
}

.filter-container{
    position: relative;
}
.price-slider-iwebsite-ajax-filter.ui-slider .ui-slider-handle{
    font-size: 0.7rem;
    line-height: 25px;
    text-align: center;
}
.sidebar-categories-container-iwebsite-filter .sub-item.active{
    max-height: 1000px;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    transition: all 350ms ease;
}
.sidebar-categories-container-iwebsite-filter .sub-item{
    overflow: hidden;
    padding-right: 20px ;
    max-height: 0;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    transition: all 350ms ease;
}
.sidebar-categories-container-iwebsite-filter a.accordion{
    font-size: 1.042rem;
    position: absolute;
    left: 0;
    padding: 3px 0 3px 30px;
    border: none;

}
.filter-container {
    padding: 50px 0;
}
.iwebsite_ajax_filter_active_attr_bar {
    position: absolute;
    bottom: 25px;
}
.iwebsite-ajax-filter-trigger-bar {
    float: left;
}
.iwebsite-ajax-filter-trigger-bar {
    line-height: 2.542rem;
}
.iwebsite-ajax-filter-trigger-bar .filter-list > li {
    list-style: none;
    float: left;
    margin-right: 30px;
    font-size: 1.097rem;
    font-weight: bold;
}
.iwebsite-ajax-filter-trigger-bar .filter-list > li a {
    cursor: pointer;
}
.iwebsite-ajax-filter-trigger-bar .filter-list i {
    color: #9c9c9c;
    top: 3px;
    position: relative;
    margin-right: 10px;
    font-size: 1.371rem;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    transition: all 350ms ease;
}
.iwebsite-ajax-filter-trigger-bar .filter-list > li:last-child {
    margin-right: 0;
}
.woocommerce-ordering {
    margin-left: 70px !important;
    float: left!important;
}
.woocommerce form.woocommerce-ordering select, .woocommerce form.woocommerce-ordering {
    margin: 0;
}
.filter-container-atribute {
    overflow: hidden;
    max-height: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.filter-container-atribute.active {
    padding-top: 20px;
    max-height: 300px;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.size-attribute-filter-item, .color-attribute-filter-item {
    position: relative;
}
.filter-container-atribute {
    width: 100%;
}
.size-attribute-filter-item, .color-attribute-filter-item {
    display: inline-block;
    float: left;
    line-height: 1;
    margin-bottom: 5px;
    padding: 0;
    /*width: 14.28571%;*/
    width: 16.666%;
    font-size: 1rem;
    position: relative;
}
.quick-view-overlay .value-pa_size .status-attr, .size-status-attr {
    display: inline-block;
    float: left;
    margin-right: 15px;
    position: relative;
    width: 30px;
    height: 30px;
    background: #EAEAEA;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}


.color-attribute-filter-container .status-attr {
    padding: 0px;
    margin: 0px 15px 0 0;
    display: block;
    float: left;
    height: 30px;
    width: 30px;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    transition: all 350ms ease;
}
.attr-label {
    text-transform: uppercase;
    color: #555555;
}
.size-attribute-filter-item.checked .status-attr:after, .color-attribute-filter-item.checked .status-attr:after {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    transform: rotate(45deg);
    content: "";
    width: 4px;
    height: 8px;
    display: block;
    border: solid #fff;
    border-width: 0 2px 2px 0;
    position: absolute;
    top: 9px;
    left: 12px;
}
.filter-container-atribute .checked .attr-label {
    color: #f76b6a;
}
.sidebar-categories-container-iwebsite-filter.active {
    margin-left: 0;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
}
.sidebar-categories-container-iwebsite-filter {
    position: relative;
    display: inline-block;
    margin-left: -25%;
    width: 23%;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    transition: all 350ms ease;
}
.category-filter-item {
    line-height: 35px;
}
.sidebar-categories-container-iwebsite-filter .sub-item {
    overflow: hidden;
    padding-right: 20px;
    max-height: 0;
    -webkit-transition: all 350ms ease;
    -moz-transition: all 350ms ease;
    transition: all 350ms ease;
}
ul.categoties-active {
    width: 75% !important;
}
.price-attribute-filter-container.filter-container-atribute.active {
    padding: 28px 20px;
}
.price-slider-iwebsite-ajax-filter.ui-slider.ui-slider-horizontal {
    height: 0.3rem;
    border: 0;
    margin-bottom: 1em;
    background: #eee;
}
.price-slider-iwebsite-ajax-filter .ui-slider-range {
    z-index: 1;
    font-size: .7em;
    display: block;
    border: 0;
    background: #999;
}

.price-slider-iwebsite-ajax-filter.ui-slider .ui-slider-handle {
    background-image: none;
    display: inline-block;
    width: 28px;
    height: 28px;
    top: -12px;
    border: 1px solid #999999;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #fff;
}
.sidebar-categories-container-iwebsite-filter {
    margin-left: 0;
    margin-right: -25%;
}

ul.products.ajax-loader:before {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    z-index: 200000;
    display: block !important;
}

ul.products.ajax-loader:after {
    position: absolute;
    z-index: 900000;
    opacity: 0.6;
    top: 48%;
    left: 50%;
    border-radius: 50%;
    border-top: 1px solid #efefef;
    border-bottom: 1px solid #333;
    border-left: 1px solid #efefef;
    border-right: 1px solid #333;
    width: 30px;
    height: 30px;
    margin-left: -15px;
    margin-top: -15px;
    display: block;
    -webkit-animation: spin .5s linear infinite;
    -moz-animation: spin .5s linear infinite;
    -o-animation: spin .5s linear infinite;
    -ms-animation: spin .5s linear infinite;
    animation: spin .5s linear infinite;
}

@media only screen and (max-width: 1023px){
    .size-attribute-filter-item, .color-attribute-filter-item {
        width: 25%;
    }
}
@media only screen and (max-width: 850px) {
    .sidebar-categories-container-iwebsite-filter a.accordion {
        left: auto;
        right: 20px;
    }
    .sidebar-categories-container-iwebsite-filter, .sidebar-blog {
        position: fixed;
        height: 100%;
        overflow-y: auto;
        top: 0;
        left: -100%;
        width: 500px;
        max-width: 80%;
        z-index: 200000;
        background: #FFF;
        color: #FFF;
        -webkit-transition: all 600ms ease;
        -moz-transition: all 600ms ease;
        transition: all 600ms ease;
    }
}


/**RTL STYLES*/
.iwebsite-ajax-filter-trigger-bar {
    float: right;
}
.iwebsite-ajax-filter-trigger-bar .filter-list > li {
    margin-right: 0;
    margin-left: 30px;
}
.iwebsite-ajax-filter-trigger-bar .filter-list > li {
    float: right;
}

.iwebsite-ajax-filter-trigger-bar .filter-list i {
    margin-right: 0;
    margin-left: 10px;
}
.woocommerce .woocommerce-ordering, .woocommerce-page .woocommerce-ordering {
    float: right !important;
    margin-right: 70px !important;
    margin-left: 0 !important;
}
.size-attribute-filter-item, .color-attribute-filter-item {
    float: right;
}

.size-attribute-filter-item, .color-attribute-filter-item {
    float: left;
}

.color-attribute-filter-container .status-attr, .quick-view-overlay .value-pa_size .status-attr, .size-status-attr {
    margin-right: 0;
    margin-left: 15px;
    float: right;
}
.size-attribute-filter-item.checked .status-attr:after, .color-attribute-filter-item.checked .status-attr:after {
    left: auto;
    right: 12px;
}
.sidebar-categories-container-iwebsite-filter.active {
    margin-left: 0;
    margin-right: 0;
}
.sidebar-categories-container-iwebsite-filter {
    margin-left: 0;
    margin-right: -25%;
}
/*
ul.products {
    float: left !important;
}

ul.products {
    float: right !important;
}*/

@media only screen and (max-width: 850px){
    .sidebar-categories-container-iwebsite-filter {
        text-align: left;
    }}